body {
  background-color: #FFF;
  display: flex;
  height: 610px;
  justify-content: center;
  align-items: center;
}

.hawaii {
  position: relative;
  font-family: 'Norican', cursive;
  font-size: 12.5em;
  color: red;
  height: 610px;
  width: 100%;
}

.text {
 position: absolute;
 left: 15%;
 top: 30%;
}

.palmtreesvg {
  position: absolute;
  height: 200px;
  width: 200px;
} 

.secondtree {
  transform: 
}