body {
  background-color: #FFF;
  position: relative;
}

.hawaii {
  position: absolute;
}

.stylecontainer {
  position: relative;
}

#test1 {
  z-index: 1;
  position: absolute;
}

#test2 {
  z-index: 2;
  position: absolute;
}

#test1 {
  z-index: 3;
  position: absolute;
}

#test1 {
  z-index: 4;
  position: absolute;
}

.palmtree {
  position: absolute;
} 