body {
  background-color: #FFF;
  display: flex;
  height: 610px;
  justify-content: center;
  align-items: center;
}

.hawaii {
  position: relative;
  font-family: 'Norican', cursive;
  font-size: 12.5em;
  color: red;
  height: 610px;
  width: 100%;
}

.text {
 position: absolute;
 left: 15%;
 top: 30%;
}

#one {
  color: lightyellow;
}

#two {
  left: 16%;
  top: 31%;
  color: orange;
}

#three {
  color: white;
  left: 17%;
  top: 32%;
}

#four {
  color: maroon;
  left: 18%;
  top: 33%;
}

.palmtreesvg {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 70%;
} 

#secondtree {
  transform: rotate(-25deg);
  height: 15em;
  left: 66%;
  top: 24.5%;
}